# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment variables
.env

# Django
db.sqlite3
*.log
staticfiles/
media/

# VS Code
.vscode/

# PyCharm
.idea/

# Mac/Linux/Windows junk
.DS_Store
Thumbs.db

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# coverage
.coverage
htmlcov/