[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
drf-nested-routers = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
python-dotenv = "*"
gunicorn = "*"
django-filter = "*"
psycopg = {extras = ["binary"], version = "*"}
wfastcgi = "*"

[dev-packages]

[requires]
python_version = "3.13"
